<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Do not rewrite if request is an existing file or directory
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  
  # Rewrite all other dynamic routes to index.html for Vue/Nuxt Router
  RewriteRule ^ index.html [L]
</IfModule>

